# API settings
HTTP_CLIENT__BASE_URL=http://localhost:8080
HTTP_CLIENT__TIMEOUT=10
ADMIN_DATA__EMAIL=test_admin@mail.ru
ADMIN_DATA__PASSWORD=test_admin_password
SWAGGER_COVERAGE_SERVICES=[{"key":"online_shop_test_api","name":"Online Shop Test API","repository":"https://example.com/ecommerce-test-app","swagger_url":"http://localhost:8080/openapi.json"}]

# UI settings
BASE_URL=http://127.0.0.1:5000
HEADLESS=true
BROWSER=["chromium"]
BROWSER_VIEWPORT={"width":1280,"height":720,"device_scale_factor":1}
TEST_USER__EMAIL=test_user_1@example.com
TEST_USER__NAME="Test User"
TEST_USER__PHONE=71234567890
TEST_USER__PASSWORD=test_password_123
TEST_USER__CONFIRM_PASSWORD=test_password_123

# Runtime artifacts
SESSION_BROWSER_STATE_FILE=session-browser-state.json
FUNCTION_BROWSER_STATE_FILE=function-browser-state.json
ALLURE_RESULTS_DIR=./allure-results
