# =========================
# API Settings
# =========================

HTTP_CLIENT__BASE_URL=http://localhost:8080
HTTP_CLIENT__TIMEOUT=15

ADMIN_DATA__EMAIL=
ADMIN_DATA__PASSWORD=
EXPIRED_USER_TOKEN=
EXPIRED_ADMIN_TOKEN=

SWAGGER_COVERAGE_SERVICES=[{"key":"","name":"","repository":"","swagger_url":""}]

# =========================
# UI Settings
# =========================

BASE_URL=
HEADLESS=false
BROWSER=["chromium"]
BROWSER_VIEWPORT={"width":1280,"height":720,"device_scale_factor":1}

TEST_USER__EMAIL=
TEST_USER__NAME=
TEST_USER__PHONE=
TEST_USER__PASSWORD=
TEST_USER__CONFIRM_PASSWORD=

SESSION_BROWSER_STATE_FILE=session-browser-state.json
FUNCTION_BROWSER_STATE_FILE=function-browser-state.json
ALLURE_RESULTS_DIR=./allure-results
