# common
.venv
.idea
__pycache__
*~
.env

# allure
allure-results
allure-report

# ui
function-browser-state.json
session-browser-state.json

# api
coverage-history.json
coverage-report.json
coverage-results
index.html

